# vim:ft=zsh foldmethod=marker
# Dotfiles manager
alias dots='/usr/bin/git --git-dir=$HOME/.dotcfg/ --work-tree=$HOME'

# Dirstack
alias d='dirs -v'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

alias grep='grep --color'                     # show differences in colour
alias egrep='egrep --color=auto'              # show differences in colour
alias fgrep='fgrep --color=auto'              # show differences in colour

# ls
alias ls='LC_ALL=C ls --color --group-directories-first'
alias l='ls'
alias la='ls -a'
alias ll='ls -ahl'

# tmux
alias tma='tmux attach -t'
alias tml='tmux ls'

# other
alias ..='cd ..'
alias less='less -i' # case insensitive search
alias rmr='rm -r'
alias ppath='echo $PATH | sed "s/:/\n/g"' # echo path nicely
alias py='python'
alias py3='python3'
alias v='gvim'
alias vroot='sudo -E gvim' # root vim with preserved environment

# for arch
# only if installed
if pac="$(type -p "pacman")" || [[ -z $pac ]]; then
    alias pac='pacman'
fi

# {{{ Functions
colortest() {
    for i in {0..255} ; do
        printf "\x1b[48;5;%sm%3d\e[0m " "$i" "$i"
        if (( i == 15 )) || (( i > 15 )) && (( (i-15) % 6 == 0 )); then
            printf "\n";
        fi
    done
}

# help for builtins
bman() {
    if [ $ZSH_NAME ]; then
        shl='zshbuiltins'
    elif [ $BASH ]; then
        shl='bash'
    fi
    LESS=--pattern="^ {7}$1 " man $shl
}
# }}}

# Local aliases
[[ -f $HOME/.aliases.local ]] && source $HOME/.aliases.local
